@charset "UTF-8";

/*============================
	html5 base style
============================*/
/* 要素 フォントサイズ・マージン・パディングをリセット */
html {
 color: #222;
font-family: "Noto Sans JP", sans-serif;
font-size: 16px;
background: #dcc6b9;
}

/* 新規追加要素をブロック要素化 */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}




/* 行の高=フォントサイズ */
body {
    line-height:1;
    color: #222;
  }


/* ulのマーカー非表示 */
ol, ul {
  list-style: none;
}
/* フォントサイズ　リセット フォントの縦方向 ベースライン揃え 点線削除 */
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    outline: none;
    transition: 0.3s;
  }

img,svg,video {
    width: 100%;
    vertical-align: bottom;
}
/* 画像を縦に並べた時に余白0 */
img {
    vertical-align: top;
    font-size: 0;
    line-height: 0;
  }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*box-sizingを全ブラウザに対応*/
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  
.clearfix:after {
    overflow: hidden;
    visibility: hidden;
    height: 0;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
}

br {
    line-height: inherit;
}
input,select {
    vertical-align: middle;
}

input,select,button {
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
}
input:focus,select:focus,button:focus {
    outline: 0;
}
p{
	margin-bottom: 0;
	margin-top: 0;
	font-weight: 600;
}

/* 【共通】パーツ 
----------------------------------------------------------------*/
/* リンク */
a,
a * {
	-webkit-transition: opacity 0.7s ease;
	-moz-transition: opacity 0.7s ease;
	-o-transition: opacity 0.7s ease;
	transition: opacity  0.7s ease;
	text-decoration: none;
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
	font-family: inherit;
	-webkit-backface-visibility: hidden; /* 追加 */
	backface-visibility: hidden; /* 追加 */
	transition: .3s ease-in-out;
}
a:hover, a:active {
  color: inherit;
	text-decoration:none;
	opacity: .8;
}
img {
	max-width: 100%;
	height: auto;
}


/*基本設定
----------------------------------------------------------------*/
body {
	font-size: 14px;
	font-weight: 500;
	letter-spacing: .05em;
	line-height:1.5;
  background: #dcc6b9;
	color: #222;
	font-family: "Noto Sans JP", sans-serif;
	margin: auto;
	overflow-x: hidden;
	position: relative;
	min-width: auto;
	opacity: 0;
	animation: bodyAppear .3s .3s forwards;
} 
@media screen and (min-width: 1024px) {
	body {
		font-size: 16px;
	}
}
@keyframes bodyAppear {
	0% {
			opacity: 0;
	}

	100% {
			opacity: 1;
	}
}


iframe {
    width: 100%;
    border: none;
}

/*  配置  */
.flex-nml {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	flex-wrap:wrap;
}
.flex-btw {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	flex-wrap:wrap;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between;
}
.flex-cnt {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	flex-wrap:wrap;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center;
}
.flex-end {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	flex-wrap:wrap;
	-webkit-box-pack:end;
	-ms-flex-pack:end;
	justify-content:end;
}
.jc-between {
    justify-content: space-between;
}

.jc-around {
    justify-content: space-around;
}

.jc-center {
    justify-content: center;
}

.jc-end {
    justify-content: flex-end;
}
.jc-space{
    justify-content: space-evenly;
}
.jc-start {
  justify-content: flex-start;
}
.align-items {
    align-items: center;
}

.row-reverse {
	-webkit-flex-direction: row-reverse;
	flex-direction: row-reverse;
}
.items-center {
	-webkit-align-items: center;
	align-items: center;
}
.items-start {
	-webkit-align-items: flex-start;
	align-items: flex-start;
}
.items-end {
	-webkit-align-items: flex-end;
	align-items: flex-end;
}


/*----------------------------
  layout
-----------------------------*/
.tategaki {
    writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
  text-orientation: upright;
}
.sp {
display: block;
}
.pc {
display: none;
}
@media screen and (min-width: 768px) {
	.sp {
			display: none;
	}
	.pc {
			display: block;
	}
}

/* margin */
	.mb20{
			margin-bottom: 10px;
	}
	.mb30 {
			margin-bottom: 20px;
	}
	.mb40 {
		margin-bottom: 25px;
	}
	.mb50 {
			margin-bottom: 30px;
	}
	.mb60 {
			margin-bottom: 30px;
	}
	.mb70 {
			margin-bottom: 40px;
	}
	.mb80 {
			margin-bottom: 40px;
	}
	.mb100 {
			margin-bottom: 50px;
	}
	.mb130{
		margin-bottom: 70px;
	}
.pa50{
  padding-top: 30px;
}
@media screen and (min-width: 768px) {
	.mb20{
			margin-bottom: 15px;
	}
	.mb30 {
			margin-bottom: 20px;
	}
	.mb40 {
		margin-bottom: 30px;
	}
	.mb50 {
			margin-bottom: 35px;
	}
	.mb60 {
			margin-bottom: 45px;
	}
	.mb70 {
			margin-bottom: 50px;
	}
	.mb80 {
			margin-bottom: 60px;
	}
	.mb100 {
			margin-bottom: 70px;
	}
	.mb130{
		margin-bottom: 100px;
	}
.pa50{
  padding-top: 35px;
}
}
@media screen and (min-width: 1024px) {
.mb20{
    margin-bottom: 20px;
}
.mb30{
margin-bottom: 30px;
}
.mb40 {
	margin-bottom: 40px;
	}
.mb50 {
margin-bottom: 50px;
}
.mb60 {
margin-bottom: 60px;
}
.mb70 {
margin-bottom: 70px;
}
.mb80 {
margin-bottom: 80px;
}
.mb100 {
margin-bottom: 100px;
}
.mb130{
	margin-bottom: 130px;
}
.pa50{
  padding-top: 50px;
}
}


/*============================
    setting
============================*/
.font-en {
  font-family: "Montserrat", sans-serif;
  font-weight:500;
}

/* ------ inner ------ */
.inner__large{
	max-width: 1720px;
	width: 92%;
	margin-inline: auto;
  padding-top: 20px;
}
@media screen and (min-width: 768px) {
	.inner__large{
			width: 92%;
      padding-top: 50px;
	}
}
	@media screen and (min-width: 1024px) {
	.inner__large{
			width: 94%; 
	}
}
	@media screen and (min-width: 1280px) {
	.inner__large{
			width: 96%;
      padding-top: 100px;
      padding-bottom:100px;
	}
}
.inner{
  max-width: 1080px;
  padding-top: 60px;
  padding-bottom:60px;
  width: 92%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
.inner {
    padding-top: 80px;
    padding-bottom:80px;
    width: 94%;
  }
}
@media screen and (min-width: 1024px) {
.inner {
  padding-top: 100px;
  padding-bottom:100px;
  width: 96%;
  }
}

/* -------color setting------- */
.color01{
  color:#90c132;
}
.color02{
  color:#f3bc18;
}

.wh{
  color: #fff;
}
.bg{
  background-color:#fcf7ef;
}
.link {
	text-decoration-line: underline;
}
.lh{
  line-height: 2;
}
.lh_3{
  line-height: 3;
}
.ta-c{
	text-align: left;
}
.ta-l{
	text-align: left;
}
.text_center{
	text-align: center;
}
.ta-r{
	text-align: right;
}
.f-20{
	font-size: 16px;
	font-weight: 500;
}
.f-18{
	font-size: 15px;
	font-weight: 500;
}
@media screen and (min-width: 768px) {
.ta-c{
	text-align: center;
}
.f-20{
	font-size: 20px;
	font-weight: 500;
}
.f-18{
	font-size: 18px;
	font-weight: 500;
}
}

.b_shadow {
    box-shadow: 0px 3px 12px rgba(128, 73, 11, 0.1);
}

/*----------------------------
  position
-----------------------------*/
.ps-r {
    position: relative;
}
.ps-a {
    position: absolute;
}

/*----------------------------
  list
-----------------------------*/
.list-style {
	padding-left: 1em;
  position: relative;
}
.list-style::before{
	content: "";
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 50vh;
	background-color: #f3bc18;
	position: absolute;
	top: 6px;
	left: 0.2em;
}



/*============================
	index 共通
============================*/
.title_cmn{
	font-size: 20px;
	letter-spacing: 0;
    text-align: center;
  	letter-spacing:.2rem;
	font-weight:800;
  position: relative;
}
.title_cmn::before{
	content: "";
	position: absolute;
	background: url(../images/header_bg.png) no-repeat center center / contain;
	max-width:391px;
    width:150px;
	height:150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  z-index: 0;
  mix-blend-mode: darken;
}
.title_cmn_en{
  font-size: 14px;
  font-weight:800;
  letter-spacing:.1rem;
  text-align: center;
  color: #9a0000;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.title_cmn_en02{
  font-size: 14px;
  font-weight:800;
  letter-spacing:.2rem;
  color: #9a0000;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .title_cmn{
	font-size: 24px;
  }
  .title_cmn::before{
    width:200px;
	height:200px;
}
.title_cmn_en{
  font-size: 16px;
}
.title_cmn_en02{
  font-size: 16px;
}
}
@media screen and (min-width: 1024px) {
  .title_cmn{
	font-size: 30px;
  }
.title_cmn_en{
  font-size: 20px;
}
.title_cmn_en02{
  font-size: 20px;
}
}
@media screen and (min-width: 1280px) {
  .title_cmn{
	font-size: 36px;
  }
  .title_cmn::before{
    width:300px;
	height:300px;
}
}

.title-01 {
  margin:5px 0 20px 0;
  padding: 0 0 5px 0;
  font-size: 16px;
  text-align: left;
  border-bottom: 1px solid #fdf6fa;
  line-height: 1.5;
  position: relative;
  font-weight: 600;
}
.title-01::after {
  position: absolute;content: " ";
  border-bottom: solid 3px #e5bad3;
  bottom: -2px;
  width: 15%;
  display: block;
  left: 0;
}
@media screen and (min-width:768px) {
  .title-01 {
    font-size: 18px;
    margin-bottom:20px;
     margin-top:5px;
  }
}

@media screen and (min-width:1024px) {
.title-01{
   margin:10px 0 30px 0;
  padding: 0 0 10px 0;
  }
}

.section__title .font-jp{
  font-size:24px;
  margin-bottom:10px;    
  font-weight: 400;
}
.section__title .font-en{
  font-size:16px;
  color:#917518;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .section__title .font-jp{
    font-size:32px;
  }
}
@media screen and (min-width: 1024px) {
  .section__title .font-jp{
    font-size:36px;
  }
}



/* ------  btn ------ */
.btn_cmn {
	max-width: 350px;
	width: 100%;
	height: 50px;
	position: relative;
}
.btn_cmn a{
	display: block;
    color:#fff;
    cursor: pointer;
	line-height: 50px;
	text-align: center;
	background: url(../images/btn_bg.png) no-repeat center center / cover;
	transition: .3s ease-out;
	position: relative;
  font-family: '游明朝', 'Yu Mincho', '游明朝体', 'YuMincho', 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'MS Ｐ明朝', 'MS PMincho', serif;
}
.btn_arw{
	position: absolute;
	max-width: 41px;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	transition: .3s ease-out;
}
.btn_cmn:hover .btn_arw{
	right: 10px;
}
@media screen and (min-width:768px) {
.btn_cmn {
	max-width: 320px;
	width: 100%;
	height: 50px;
	position: relative;
}
}